<%= simple_form_for [@portfolio,@position] do |f| %>
  <%= render 'shared/generic_error', object: f.object %>

  <%= f.hidden_field :symbol %>
  <%# currencies = (action_name == 'new')? CURRENCIES.except(@portfolio.currency_sym) : CURRENCIES %>

  <div class="row">
  <div class="col-md-3">
  <%= f.input :currency, collection: CURRENCIES, include_blank: false %>
  </div>
  <div class="col-md-3">
  <%= f.input :qty, label:'Amount', hint: "Deposit/Withdrawal Amount" %>
  </div>
  <div class="col-md-6">
  <%= f.input :note %>
  </div>
  </div>

  <div class="pt-3">
  <%= f.submit 'Save Cash Transaction', class: "btn btn-info", onclick: "set_symbol();" %>
  </div>

<% end %>

<script>
function set_symbol() {
  var cur = document.getElementById("position_currency");
  var curval = cur.options[cur.selectedIndex].text;
//  console.log(curval);
  document.getElementById("position_symbol").value = curval;
}
</script>
