<%= simple_form_for [@portfolio,@position] do |f| %>
  <%= render 'shared/generic_error', object: f.object %>

  <div class="row">
  <div class="col-md-3">
  <%= f.input :symbol, input_html: {onchange: 'SetQtyLabel();'} %>
  </div>
  <div class="col-md-3">
  <%= f.input :exch, collection: EXCHANGES, label: 'Exchange', include_blank: false %>
  </div>
  <div class="col-md-3">
  <%= f.input :qty, as: :integer, label: "Quantity"  %>
  </div>
  <div class="col-md-3">
    <%= f.input :acb, label: "Cost Base (#{@portfolio.currency_str})"  %>
  </div>
  </div>

  <div class="pt-3">
  <%= f.submit yield(:button_text), class: "btn btn-info" %>
  </div>

<% end %>


<script>
  $(document).ready(function() {
     SetQtyLabel();
  });

  function SetQtyLabel(){
    var symbol = document.getElementById("position_symbol").value;
    if (symbol == 'XAUUSD' || symbol == 'XAGUSD') {
      $('.position_qty label').append(' (Oz)');
    }  
  };
</script>

