<% scroll = "table-wrapper-scroll-x" if mobile_device? %>

<table class="table table-condensed table-hover table-striped table-bordered <%= scroll %>" >
  <caption><%= @portfolio.name %> portfolio (<%= @portfolio.currency_str  %>): positions </caption>
  <thead>
      <tr>
          <th class="text-center">Symbol</th>
          <th class="text-center">Exchange</th>
          <th class="text-center">Quantity</th>
          <th class="text-center">Avg. Price</th>
          <th class="text-center">Currency </th>
          <th class="text-center">ACB </th>
          <th class="text-center">Cur. Value </th>
          <th class="text-center">Gain</th>
          <th class="text-center">Gain %</th>
          <th></th>
          <th></th>
      </tr>
  </thead>
  <tbody>

  <%= render @positions %>

  </tbody>
  <tfoot>
    <th colspan=5>Totals in <%= @portfolio.currency_str %></th>
    <th class="text-center"><%= to_currency @portfolio.acb %></th>
    <th class="text-center"><%= to_currency @portfolio.curval - @portfolio.cash %></th>
    <th class="text-center"><%= to_currency @portfolio.gain  %></th>
    <th class="text-center"><%= sprintf "%.2f", @portfolio.gain_pc %>%</th>
    <th colspan=2></th>
  </tfoot>
</table>

<div class="row">
  <% unless @portfolio.cashonly? %>
  <div class="col-md-2">
    <%= button_to "Add Position", new_portfolio_position_path(@portfolio), class: "btn btn-primary", method: :get %>
  </div>
  <% end %>

  <div class="col-md-2">
    <%= button_to "Add Cash", new_portfolio_position_path(@portfolio), class: "btn btn-success", method: :get, params: {addcash: 1} %>
  </div>
</div>

