<% provide(:button_text, 'Add Position') %>

<div class="row justify-content-md-center">
<div class="col-md-8">
  <% label = params[:addcash] ? 'Add Cash' : 'New Position'  %>
  <h5><%= @portfolio.name %> <%= @portfolio.cashonly? ? '(Cash Portfolio)':'' %>: <%= label %></h5>
<div class="card p-3 bg-light">
  <div class="card-body">

  <% if @portfolio.cashonly? || params[:addcash] %>
    <%= render 'cash_form' %>
  <% else %>
    <%= render 'form' %>
  <% end %>
  
  </div>  
</div>
</div>
</div>
