<tr>
  <td class="text-center"><%= deposit.date %></td>
  <td class="text-center"><%= deposit.position.symbol %></td>
  <td class="text-center"><%= deposit.cash %></td>
  <td class="text-center"><%= deposit.ttl_cash %></td>
  <td class="text-center"><%= deposit.note %></td>
</tr>
