<tr>
  <td><%= dividend.position.symbol %></td>
  <td><%= dividend.date.to_date %></td>
  <td><%= to_currency dividend.cash, precision: 2 %></td>
  <td><%= dividend.drip %></td>
  <td><%= dividend.note %></td>
  <td><%= link_to '<i class="bi-pencil-square"></i>'.html_safe, edit_portfolio_position_transaction_path(@portfolio,dividend.position,dividend) %> </td>
  <td><%= link_to '<i class="bi-trash"></i>'.html_safe, portfolio_position_transaction_path(@portfolio,dividend.position,dividend), method: :delete, data: { confirm: "Are you sure you want to delete transaction for #{dividend.position.symbol}?" } %></td> 
</tr>
