<tr>
<td class="text-center"><%= link_to portfolio.name, portfolio_positions_path(portfolio) %></td>
<td class="text-center"><%= portfolio.positions.count %></td>
<td class="text-center"><%= portfolio.currency_str %></td>
<td class="text-center"><%= to_currency portfolio.cash, locale: portfolio.locale  %></td>
<td class="text-center"><%= to_currency portfolio.acb, locale: portfolio.locale %></td>
<td class="text-center"><%= to_currency portfolio.curval, locale: portfolio.locale %></td>
<td class="text-center"><%= to_currency portfolio.gain, locale: portfolio.locale %></td>
<td class="text-center"><%= sprintf "%.2f", portfolio.gain_pc %></td>
<td class="text-center"><%= link_to '<i class="fas fa-edit"></i>'.html_safe, edit_portfolio_path(portfolio) %> </td>
  <td class="text-center"><%= link_to '<i class="far fa-trash-alt"></i>'.html_safe, portfolio, method: :delete, data: { confirm: "Are you sure you want to delete portfolio #{portfolio.name}?" } %> </td>
</tr>
