<% cl = 'table-success' if transaction.sell? %>
<tr class="<%= cl %>">
  <td class="text-center"><%= transaction.position.symbol %></td>
  <td class="text-center"><%= transaction.date rescue '-' %></td>
  <td class="text-center"><%= transaction.tr_type_str %></td>
  <td class="text-center"><%= transaction.qty.to_i %></td>
  <td class="text-center"><%= to_currency transaction.acb, precision: 0, locale: transaction.locale %></td>
  <td class="text-center"><%= to_currency transaction.amount, precision: 0, locale: transaction.locale %></td>
  <td class="text-center"><%= to_currency transaction.gain, precision: 2, locale: transaction.locale %></td>
</tr>

