<% scroll = "table-responsive" if mobile_device? %>

<%= render "header" %>

<table class="table table-hover table-striped <%= scroll %>"> 
  <thead>
      <tr>
        <th class="text-center">Date</th>
        <th class="text-center">Symbol</th>
        <th class="text-center">Quantity</th>
        <th class="text-center">Total</th>
        <th class="text-center">Notes</th>
        <th colspan=2 />
      </tr>
  </thead>
  <tbody>

<%= render partial: "cash", collection: @cash %>

 </tbody>
</table>

<%= will_paginate @cash, class: "btn" %>

<div class="col-md-2 pt-2">
  <%= button_to "Add Cash", new_portfolio_position_path(@portfolio), class: "btn btn-success", method: :get, params: {addcash: 1} %>
</div>
