<%= render "header" %>  
<% year = Time.now.year %>

<table class="table table-hover table-striped"> 
  <thead>
      <tr>
        <th>Symbol</th>
        <th>Date</th>
        <th>Amount</th>
        <th>Drip?</th>
        <th>Notes</th>
        <th colspan=2/>
      </tr>
  </thead>
  <tbody>

<%= render partial: "dividend", collection: @dividends %>

 </tbody>
 <tfoot>
   <th>Totals in CAD: </th>
   <th></th>
   <th><%= @portfolio.dividends(year) %></th>
   <th colspan=4></th>
 </tfoot>
</table>

<%= will_paginate @dividends, class: "btn" %>

<!-- 
<div class="col-md-2 pt-2">
  <%= button_to "Add Dividend", new_portfolio_position_path(@portfolio), class: "btn btn-info", method: :get, params: {addiv: 1}  %>
</div>
-->
