<% scroll = "table-wrapper-scroll-x" if mobile_device? %>
<table class="table table-condensed table-hover table-striped table-bordered <%= scroll %>" >
  <thead>
      <tr>
          <th class="tbl_sm, text-center"><%= sortable 'name', 'Name' %></th>
          <th class="tbl_md, text-center">Positions</th>
          <th class="tbl_md, text-center"><%= sortable 'currency', 'Currency' %></th>
          <th class="tbl_md, text-center">Cash In</th>
          <th class="tbl_md, text-center"><%= sortable 'acb', 'ACB' %></th>
          <th class="tbl_md, text-center">Current Value</th>
          <th class="tbl_md, text-center">Gain</th>
          <th class="tbl_md, text-center">Gain %</th>
          <th class="tbl_md, text-center"></th>
          <th class="tbl_md, text-center"></th>
      </tr>
  </thead>
  <tbody>

  <%= render @portfolios %>

  </tbody>
</table>

<%= button_to "Add Portfolio", new_portfolio_path, class: "btn btn-primary col-md-2", method: :get %>
