<% scroll = "table-responsive" if mobile_device? %>
<% currency = CURRENCIES.invert[@base_currency.to_i] %>
<% locale = currency == :EUR ? :fr : :en %>

<%= render "filters" %>
<table class="table table-hover table-striped table-bordered2 <%= scroll %>" >
  <caption> Portfolios </caption>
  <thead class="table-info">
      <tr>
          <th class="text-center"><%= sortable 'name', 'Name' %></th>
          <th class="text-center"><%= sortable 'currency', 'Currency' %></th>
          <th class="text-center">Positions</th>
          <th class="text-center">Cash</th>
          <th class="text-center"><%= sortable 'acb', 'ACB' %></th>
          <th class="text-center">Current Value</th>
          <th class="text-center">Current Value, <%= currency %></th>
          <th class="text-center">R.Gain</th>
          <th class="text-center">Ppr. Gain, <%= currency %></th>
          <th class="text-center">Ppr. Gain %</th> 
          <th class="text-center"></th>
          <th class="text-center"></th>
      </tr>
  </thead>
  <tbody>

  <%= render @portfolios %>

  </tbody>
   <tfoot>
    <th colspan=3>Totals in <%= currency %></th>
    <th class="text-center"><%= to_currency @total_cash, locale: locale  %></th>
    <th class="text-center"><%= to_currency @total_acb, locale: locale  %></th>
    <th class="text-center"><%= to_currency @total_curval, locale: locale %></th>
    <th class="text-center"><%= to_currency @total_curval, locale: locale %></th>
    <th class="text-center"><%= to_currency @total_rgain, locale: locale %></th>
    <th class="text-center"><%= to_currency @total_ppr_gain, locale: locale %></th>
    <th class="text-center"><%= sprintf "%.2f", @total_ppr_gain_pc, locale: locale %>%</th>
    <th colspan=2></th>
  </tfoot>
</table>

<%= button_to "Add Portfolio", new_portfolio_path, class: "btn btn-info col-md-2", method: :get %>
