<% scroll = "table-responsive" if mobile_device? %>
<%= render "header" %>  
<table class="table table-hover table-striped <%= scroll %>"> 
  <thead>
      <tr>
        <th>Date</th>
        <th>Symbol</th>
        <th>Type</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Amount</th>
        <th>Comm.</th>
        <th>Cap Gain</th>
        <th>Share Balance</th>
        <th>ACB</th>
        <th>ACB/Share</th>
        <th>Notes</th>
        <th colspan=2></th>
      </tr>
  </thead>
  <tbody>

<%= render  @transactions %>

 </tbody>
  <tfoot>
    <th>Totals in <%= @portfolio.currency_str %></th>
    <th colspan=5></th>
    <th><%= to_currency @portfolio.fees, locale: @portfolio.locale %></th>
    <th><%= to_currency @portfolio.gain, locale: @portfolio.locale %></th>
    <th colspan=6></th>
  </tfoot>
</table>

<%= will_paginate @transactions, class: "btn" %>

</div>
