<tr>
<td class="text-center"><%= cash_transaction.position.currency_str %></td>
<td class="text-center"><%= cash_transaction.date.to_date rescue '-' %></td>
<td class="text-center"><%= cash_transaction.qty %></td>
<td class="text-center"><%= cash_transaction.ttl_qty %></td>
<td class="text-center"><%= cash_transaction.note %></td>
<td class="text-center"><%= link_to '<i class="fas fa-edit"></i>'.html_safe, edit_portfolio_position_transaction_path(@portfolio,@position,cash_transaction) %> </td>
<td class="text-center"><%= link_to '<i class="far fa-trash-alt"></i>'.html_safe, portfolio_position_transaction_path(@portfolio,@position,cash_transaction), method: :delete, data: { confirm: "Are you sure you want to delete cash_transaction for #{@position.symbol}?" } %></td>
</tr>


