<%= simple_form_for [@portfolio,@position,@transaction] do |f| %>
  <%# render 'shared/error_messages', object: f.object %>
  <%= render 'shared/generic_error', object: f.object %>

  <div class="row">
  <div class="col-md-3">
    <%= f.input :tr_type, label: 'Transaction',  collection: TRANSACTION_TYPES, include_blank: false  %>
  </div>
  <div class="col-md-3" id="cashdiv" style=<%= 'display:none;' unless @transaction.dividend? %> >
  <%= f.input :cash, label: "Dividend Cash"  %>
  </div>
  <div class="col-md-3">
  <%= f.input :qty, as: :integer, label: "Shares"  %>
  </div>
  <div class="col-md-3">
    <%= f.input :price  %>
  </div>
  <div class="col-md-3" id="fees" style=<%= 'display:none;' if @transaction.dividend?  %> >
    <%= f.input :fees  %>
  </div>
  </div>

  <%= Time.now %>
  <div class="row">
  <div class="col-md-6">
    <%= f.input :date, as: :datetime, html5: true, placeholder: 'dd/mm/yy' %>
  </div>
  <div class="col-md-6">
    <%= f.input :note  %>
  </div>
  </div>

  <div class="pt-3">
  <%= f.submit yield(:button_text), class: "btn btn-info" %>
  </div>

<% end %>

<script>
$(document).ready(function () {
   var tr_type = $('select[name="transaction[tr_type]"]');
   var fees = document.getElementById('fees');
   var div = <%= DIV_TR %>;
   (tr_type.val() == div) ? $('#cashdiv').show() : $('#cashdiv').hide();
   (tr_type.val() == div ) ? $('#fees').hide() : $('#fees').show();
   tr_type.change(function () {
     (tr_type.val() == div ) ? $('#cashdiv').show() : $('#cashdiv').hide();
     (tr_type.val() == div ) ? $('#fees').hide() : $('#fees').show();
   });
  });
</script>



