<% scroll = "table-responsive" if mobile_device? %>

<div class="container-fluid">
<h5><%= link_to @portfolio.name, portfolio_holdings_path(@portfolio) %>: <%= @position.symbol %></h5>
<div class="mt-3"></div>
<table class="table table-hover table-striped <%= scroll %>" >
  <caption><%= @position.symbol %>: transactions </caption>
  <thead class="table-info">
      <tr>
        <% if @position.is_cash? %>
          <%= render "cash_index" %>
        <% else %>
          <%= render "index" %>
        <% end %>
      </tr>
  </thead>
  <tbody>

  <% if @position.is_cash? %>
  <%= render partial: "cash_transaction",  collection: @transactions %>
  <% else %>
  <%= render  @transactions %>
  <% end %>

  </tbody>
  <% unless @position.is_cash? %>
  <tfoot>
    <th colspan=3></th>
    <th class="text-center"><%= @position.qty %></th>
    <th colspan=2></th>
    <th class="text-center"><%= to_currency @position.fees, precision: 0 %></th>
    <th class="text-center"><%= to_currency @position.gain, precision: 0 %></th>
    <th colspan=6 />
  </tfoot>
  <% end %>
</table>

<% button_text = @position.is_cash? ? "Add Cash Transaction":"Add Transaction" %>
<%= button_to button_text, new_portfolio_position_transaction_path(@portfolio,@position), class: "btn btn-info col-md-2", method: :get %>
</div>
