<% scroll = "table-wrapper-scroll-x" if mobile_device? %>

<h3><%= link_to "#{@portfolio.name} : #{@position.symbol}", portfolio_positions_path(@portfolio) %></h3>
<div class="mt-3"></div>
<table class="table table-condensed table-hover table-striped table-bordered <%= scroll %>" >
  <caption><%= @position.symbol %>: transactions </caption>
  <thead>
      <tr>
        <% if @position.is_cash? %>
          <%= render "cash_index" %>
        <% else %>
          <%= render "index" %>
        <% end %>
      </tr>
  </thead>
  <tbody>

  <% if @position.is_cash? %>
  <%= render partial: "cash_transaction",  collection: @transactions %>
  <% else %>
  <%= render  @transactions %>
  <% end %>

  </tbody>
  <% unless @position.is_cash? %>
  <tfoot>
    <th colspan=2></th>
    <th class="text-center"><%= @position.qty %></th>
    <th colspan=3></th>
    <th class="text-center"><%= to_currency @position.cap_gain, precision: 0 %></th>
    <th colspan=5></th>
  </tfoot>
  <% end %>
</table>

<% button_text = @position.is_cash? ? "Add Cash Transaction":"Add Transaction" %>
<%= button_to button_text, new_portfolio_position_transaction_path(@portfolio,@position), class: "btn btn-primary col-md-2", method: :get %>
