<footer class="page-footer small gray">
  <div class="container-fluid text-center text-md-left">
  <div class="row">
    <div class="col-md-2">
    <img src="/favicon.ico" width="16x16"></img>
    Folio -  &copy; <%= Date.today.year %> - All rights reserved
    </div>
    <div class="col-md-7">
      USD/CAD: <%= USDCAD %>;
      EUR/CAD: <%= EURCAD %>;
      EUR/USD: <%= EURUSD %>;
      Gold: <%= to_currency(XAUUSD) %>; 
      Silver: <%= to_currency(XAGUSD) %>
    </div>
    <div class="col-md-3 text-right">
      Help | About | Contact
    </div>
  </div>
  </div>
</footer>

