<% if current_user %>
<ul class="nav navbar-nav navbar-left">
<div class="dropdown show lead" id="navbarDropdown" style="z-index: 1000">
  <a class="dropdown" href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="fa fa-bars fa-lg text-muted"></i>
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
     <%= link_to "<i class='fa fa-edit'></i> My Profile".html_safe, edit_user_registration_path(current_user.id), class: "dropdown-item" %>
     <%= link_to "<i class='fa fa-sign-out-alt'></i> Logout".html_safe, destroy_user_session_path, method: :delete, class: "dropdown-item" %>
  </div>
</div>
</ul>
<% end %>

<!--
<% if current_user %>
  <button class="dropdown-toggler"  type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
     <%= link_to "<i class='fa fa-edit'></i> My Profile".html_safe, edit_user_registration_path(current_user.id), class: "dropdown-item" %>
     <%= link_to "<i class='fa fa-chart-area'></i> History Chart".html_safe, chart_path, class: "dropdown-item" %>
     <%= link_to "<i class='fa fa-sign-out-alt'></i> Logout".html_safe, destroy_user_session_path, method: :delete, class: "dropdown-item" %>
  </div>
<% end %>
-->
